<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Default Test">
  
<classes>
      <class name="com.demoaut.newtours.Testscripts.BookTicketTest"/>
       <class name="com.demoaut.newtours.Testscripts.ValidateUserTest"/>
        <class name="com.demoaut.newtours.Testscripts.InvalidUserTest"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->



